@font-face {
  font-family: 'AlegreyaSans-Black';
  src: url(../fonts/AlegreyaSans-Black.woff), url(../fonts/AlegreyaSans-Black.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-BlackItalic';
  src: url(../fonts/AlegreyaSans-BlackItalic.woff), url(../fonts/AlegreyaSans-BlackItalic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Bold';
  src: url(../fonts/AlegreyaSans-Bold.woff), url(../fonts/AlegreyaSans-Bold.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-BoldItalic';
  src: url(../fonts/AlegreyaSans-BoldItalic.woff), url(../fonts/AlegreyaSans-BoldItalic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-ExtraBold';
  src: url(../fonts/AlegreyaSans-ExtraBold.woff), url(../fonts/AlegreyaSans-ExtraBold.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-ExtraBoldItalic';
  src: url(../fonts/AlegreyaSans-ExtraBoldItalic.woff), url(../fonts/AlegreyaSans-ExtraBoldItalic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Italic';
  src: url(../fonts/AlegreyaSans-Italic.woff), url(../fonts/AlegreyaSans-Italic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Light';
  src: url(../fonts/AlegreyaSans-Light.woff), url(../fonts/AlegreyaSans-Light.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-LightItalic';
  src: url(../fonts/AlegreyaSans-LightItalic.woff), url(../fonts/AlegreyaSans-LightItalic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Medium';
  src: url(../fonts/AlegreyaSans-Medium.woff), url(../fonts/AlegreyaSans-Medium.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-MediumItalic';
  src: url(../fonts/AlegreyaSans-MediumItalic.woff), url(../fonts/AlegreyaSans-MediumItalic.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Regular';
  src: url(../fonts/AlegreyaSans-Regular.woff), url(../fonts/AlegreyaSans-Regular.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-Thin';
  src: url(../fonts/AlegreyaSans-Thin.woff), url(../fonts/AlegreyaSans-Thin.woff2);
}

@font-face {
  font-family: 'AlegreyaSans-ThinItalic';
  src: url(../fonts/AlegreyaSans-ThinItalic.woff), url(../fonts/AlegreyaSans-ThinItalic.woff2);
}

@font-face {
  font-family: 'MuseoSansCyrl_500';
  src: url(../fonts/MuseoSansCyrl_500.woff), url(../fonts/MuseoSansCyrl_500.woff2);
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url(../fonts/MyriadPro-Regular.woff);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic');